.ContactMe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  width: 70%;
  padding: 5% 15%;
}

.ContactMe-form fieldset {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 15px;
  width: auto;
}

.ContactMe-input {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 10px;
  margin: 10px;
}

.ContactMe-input label {
  text-align: left;
  width: 60px;
}

.ContactMe-input input {
  width: 100%;
  max-width: 250px;
}

.ContactMe-textarea-label {
  display: block;
  width: 200px;
  margin: 10px;
}

.ContactMe-form textarea {
  margin: 0 10px 10px 10px;
  resize: none;
  height: 200px;
  width: 300px;
  overflow-y: auto;
}

.ContactMe-button {
  padding: 10px;
  margin: 10px;
  width: 100px;
  border-radius: 5px;
}

.form-container {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .form-container {
    max-width: 100%;
    padding: 20px;
  }
}