.Landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Landing-about-me {
  display: flex;
  flex-direction: column;
}

.Landing-about-me-break {
  width: 150px;
}

@media (min-width: 768px) {
  .Landing-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
  }

  .Landing-about-me {
    flex-grow: 1;
    margin-top: 65px;
    text-align: left;
  }
}
